<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
		<title>title</title>
		<script src="https://code.angularjs.org/1.5.8/angular.js"></script>
		<script src="app.js"></script>
  </head>
  <body>
  <div ng-app="treeControl">
<div ng-controller="Controller">
    <div style="display: flex; flex-direction: row">
        <div class="tree-border">
            <h3>Classic Tree</h3>
            <div>Selected: {{node1.label?node1.label:"N/A"}}</div>
            <treecontrol class="tree-classic" tree-model="treedata" node-children="children" on-selection="showSelected(node)" selected-node="node1">
                label: {{node.label}} ({{node.id}})
            </treecontrol>
        </div>
        <div class="tree-border">
            <h3>Light Tree</h3>
            <div>Selected: {{node2.label?node2.label:"N/A"}}</div>
            <treecontrol class="tree-light" tree-model="treedata" node-children="children" on-selection="showSelected(node)" selected-node="node2">
                label: {{node.label}} ({{node.id}})
            </treecontrol>
        </div>
        <div class="tree-border" style=" background: #555;">
            <h3 style="color: white">Dark Tree</h3>
            <div style="color: white">Selected: {{node3.label?node2.label:"N/A"}}</div>
            <treecontrol class="tree-dark" tree-model="treedata" node-children="children" on-selection="showSelected(node)" selected-node="node3">
                label: {{node.label}} ({{node.id}})
            </treecontrol>
        </div>
    </div>
    <h2>Selection</h2>
    Based on callback (on-selection): {{selected}}</br>
    Based on binding (selected-node): {{node1.label}}, {{node2.label}}, {{node3.label}}
    <h2>Mutate the tree</h2>
    <a class="fake-link" ng-click="addRoot()">add root</a></br>
    <a class="fake-link" ng-click="addChild()">add child (to the first root of the tree)</a></br>
    
</div>
</div>    
  </body>
</html>